<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="header" class="site-header">
  <nav class="navbar">

    <div class="navbar-left">
      <a th:href="@{/transfer}" class="brand">
        Pay My Buddy
      </a>
    </div>

    <ul class="navbar-menu">
      <li>
        <a th:href="@{/transfer}" class="nav-link">Transfer</a>
      </li>
      <li>
        <a th:href="@{/profile}" class="nav-link">Profil</a>
      </li>
      <li>
        <a th:href="@{/relations/add}" class="nav-link">Ajouter relation</a>
      </li>
      <li>
        <form th:action="@{/logout}" method="post" class="logout-form">
          <button type="submit" class="nav-link logout-button">
            Se déconnecter
          </button>
        </form>
      </li>
    </ul>

  </nav>
</header>

</body>
</html>